.stepsContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
}

.steps {
  width: calc(100% / 4);
  border-radius: 10px;
  padding: 1rem;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepNum {
  --hw: 1.85rem;
  height: var(--hw);
  width: var(--hw);
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-color: #aaa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.active-step {
  position: relative;
  animation: pulse 1s ease-out infinite;
}

.active-step::after {
  --hw: 1.85rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--hw);
  width: var(--hw);
  border-radius: 50%;

  transform: scale(1);
  opacity: 1;
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
*/
.text {
  color: #aaa;
}

.connector {
  height: 5px;
  width: 100%;
  background-color: #aaa;
  position: absolute;
  top: 32.5%;
  left: 50%;
  z-index: -1;
}

.active {
  background-color: rgb(102, 204, 128);
}

.active-text {
  color: #000;
  font-weight: 700;
}
